section {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    padding: 0;
    margin: 0;
    height: 100vw;

    @media screen and #{$screen-md} {
        flex-direction: row;
    }
    @media screen and #{$screen-ltmd} {
        display: block;
    }

    &.section-half-tall {
        max-height: 25vh;

        @media screen and (max-height: 820px) {
            max-height: 35vh;
        }
        @media screen and #{$screen-ltmd} {
            max-height: none;
            height: auto;
        }
    }
    &.section-one-tall {
        max-height: 50vh;

        @media screen and (max-height: 820px) {
            max-height: 75vh;
        }
        @media screen and #{$screen-ltmd} {
            max-height: none;
            height: auto;
        }
    }
    &.section-two-tall {
        max-height: 100vh;

        @media screen and (max-height: 820px) {
            max-height: 150vh;
        }
        @media screen and #{$screen-md} {
            max-height: 150vh;
            height: 150vh;
        }
        @media screen and #{$screen-ltmd} {
            max-height: none;
            height: auto;
        }
    }
    &.section-three-tall {
        max-height: 150vh;

        @media screen and (max-height: 820px) {
            max-height: 200vh;
        }
        @media screen and #{$screen-ltmd} {
            max-height: none;
            height: auto;
        }
    }
}

.block {
    padding: 50px;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    &.block-one-wide {
        width: 33.33%;

        @media screen and #{$screen-md} {
            width: 50%;
        }
        @media screen and #{$screen-ltmd} {
            width: 100%;
            padding: 40px;
        }
    }
    &.block-two-wide {
        width: 66.66%;
        padding: 80px;
        
        @media screen and #{$screen-md} {
            width: 100%;
            padding: 50px;
        }
        @media screen and #{$screen-ltmd} {
            width: 100%;
            padding: 40px;
        }
        @media screen and #{$screen-ltxl} {
            padding: 50px;
        }
    }
    &.block-three-wide {
        width: 100%;
    }

    &.block-half-tall {
        @media screen and (max-height: 820px) {
            height: 35vh;
        }
        @media screen and #{$screen-ltmd} {
            max-height: none;
            height: auto;
        }
    }
    &.block-one-tall {
        height: 50vh;

        @media screen and (max-height: 820px) {
            height: 75vh;
        }
        @media screen and #{$screen-ltmd} {
            max-height: none;
            height: auto;
        }
    }
    &.block-two-tall {
        height: 100vh;

        @media screen and (max-height: 820px) {
            height: 150vh;
        }
        @media screen and #{$screen-ltmd} {
            max-height: none;
            height: auto;
        }
    }
    &.block-three-tall {
        height: 150vh;

        @media screen and (max-height: 820px) {
            height: 200vh;
        }
        @media screen and #{$screen-ltmd} {
            max-height: none;
            height: auto;
        }
    }

    &.block-image {
        padding: 0;
        max-height: 50vh;
        background-size: cover;

        @media screen and (max-height: 820px) {
            max-height: 75vh;
        }
        @media screen and #{$screen-xs} {
            height: 50vh;
        }

        img {
            width: 100%;
            height: auto;
            min-height: 100%;
        }
    }
    &.block-bio {
        @media screen and #{$screen-md} {
            width: 50%;
            p { font-size: 1.4rem; }
        }
    }
}

hr {
    margin: 40px 0;
    border-top: none;
    border-bottom: 1px solid white;
    opacity: 0.5;
}

.faq {
    background: $heroblue;
    color: white;
    padding: 80px 0;
    position: relative;

    &:before {
        content: '';
        width: 0;
        height: 0;
        border-bottom: 400px solid white;
        border-right: 1200px solid transparent;
        opacity: 0.05;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.5s all;
        pointer-events: none;
    }
    &:after {
        content: '';
        width: 0;
        height: 0;
        border-bottom: 900px solid white;
        border-left: 900px solid transparent;
        opacity: 0.05;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: 0.5s all;
        pointer-events: none;
    }
}
